.container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-form-container{
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color:rgb(253, 6, 6);
    background-color: #fff;
    border-radius: 10%;
}

.register-logo-container{
    width: 50%; 
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-logo{
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
}

.register-form{
    color: rgb(121, 121, 121);
    display: flex;
    align-items: center;
}


.register-button{
    background-color: rgb(255, 251, 251);
    width: 50%;
    height: 4vh;
    border: 3px solid rgb(250, 0, 0);
    border-radius: 10%;
    color:rgb(253, 6, 6);
}

.select-department{
    color: rgb(121, 121, 121);
}
.select-year{
    color: rgb(121, 121, 121);
    margin: 1vh;
}

.select-year::focus,.select-year::hover{
    border: none;
    outline: none;
}